body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
}



main {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #333;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #e6e6e6;
}

img {
    height: 2%;
    width: 2%;
}

form {
    
    display: inline-block;
    margin: 20px 0;
}

form label {
    margin-top: -20px;
    display: block;
    margin-bottom: 4px;
}

form input[type="text"]{
    margin-bottom: 23px;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}
form select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}
#valor{
    margin-top: 0px;
}

form button[type="submit"] {
    margin-top: 5px;
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button[type="submit"]:hover {
    background-color: #000;
    color: #fff;
}
#Filtrar{
    margin-left: 5px;
    margin-top: 24px;
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 30px;
}
#nada{
    display: none;
}
.form-container {
    display: flex;
}

form {
    margin-right: 10px;
}
.select-with-margin {
    margin-top: 40px;
}
#home{
    margin-top: 5px;
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
#home :hover {
    background-color: #000;
    color: #fff;
}