<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <title>Biblioteca</title>
    <link rel="stylesheet" href="" th:href="@{style2.css}">
</head>
<body>
<header>
    <a id="home1" href="http://localhost:8080/"><img src="" th:src="@{6490332.png}"></a>
    <h1>Todos os Funcionarios</h1>
</header>
<main>
    <form th:action="@{/funcionarios/buscarSalarioMaiorQueX}" method="get">

        <label for="valorSalario">Filtrar por Salario:</label>
        <select id="valorSalario" name="valor">
            <!-- Adicionados os valores aos options -->
            <option value="10000">Salario Maior Que 10000</option>
            <option value="25000">Salario Maior Que 25000</option>
            <option value="50000">Salario Maior Que 50000</option>
            <option value="100000">Salario Maior Que 100000</option>
        </select>

        <button type="submit">Filtrar</button>
    </form>

    <form th:action="@{/funcionarios/buscarTempoMaiorQueX}" method="get">

        <label for="valorTempo">Filtrar por Tempo na Empresa:</label>
        <select id="valorTempo" name="tempo">
            <!-- Adicionados os valores aos options -->
            <option value="1">Tempo maior que 1 ano</option>
            <option value="2">Tempo maior que 2 anos</option>
            <option value="5">Tempo maior que 5 anos</option>
            <option value="10">Tempo maior que 10 anos</option>
        </select>

        <button type="submit">Filtrar</button>
    </form>

    <form th:action="@{/funcionarios/buscarSalarioMaiorQueTodosTempoX}" method="get">

        <label for="valorTempo2">Filtrar por salario maior que o de todos funcionarios com tempo variável:</label>
        <select id="valorTempo2" name="tempo">
            <!-- Adicionados os valores aos options -->
            <option value="1">Tempo maior que 1 ano</option>
            <option value="2">Tempo maior que 2 anos</option>
            <option value="5">Tempo maior que 5 anos</option>
            <option value="10">Tempo maior que 10 anos</option>
        </select>
        <button type="submit">Filtrar</button>
    </form>
<div>
    <form th:action="@{/funcionarios/ordernarPorSalarioCres}" method="get">
        <button  type="submit">Ordenar Por Salário (Crescente)</button>
    </form>
    <form th:action="@{/funcionarios/ordernarPorNome}" method="get">
        <button  type="submit">Ordenar Por Nome</button>
    </form> 
    <form th:action="@{/funcionarios/ordernarPorSalarioDesc}" method="get">
        <button type="submit">Ordenar Por Salário (Decrescente)</button>
        </button>
    </div>
</form>
    <table>
        <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>CPF</th>
            <th>Salario</th>
            <th>Tempo Na Empresa</th>
        </tr>
        <tr th:each="funcionario : ${funcionarios}">
            <td><span th:text="${funcionario.idPessoa}"></span></td>
            <td><span th:text="${funcionario.pessoa.nome}"></span></td>
            <td><span th:text="${funcionario.pessoa.ultimoNome}"></span></td>
            <td><span th:text="${funcionario.pessoa.cpf}"></span></td>
            <td><span th:text="${funcionario.salario}"></span></td>
            <td><span th:text="${funcionario.tempoNaEmpresa}"></span></td>
        </tr>
    </table>

    <span>Total Salario:</span>
    <span th:text="${totalSalario}"></span>
    <br>
    <span>Media Salario:</span>
    <span th:text="${mediaSalario}"></span>
</main>
</body>
</html>