<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
    <link rel="stylesheet" href="" th:href="@{style2.css}">
<head>
    <meta charset="UTF-8">
    <title>Biblioteca</title>
</head>
<body>
<header>

    <a id="home1" href="http://localhost:8080/"><img src="" th:src="@{6490332.png}"></a>
    <h1>Biblioteca</h1>
</header>
<main id="menu">
    <nav>
        <ul>
            <li><a href="http://localhost:8080/livros">Livros</a></li>
            <li><a href="http://localhost:8080/funcionarios">Funcionarios</a></li>
            <li><a href="http://localhost:8080/editoras">Editoras</a></li>
            <li><a href="http://localhost:8080/clientes">Clientes</a></li>
            <li><a href="http://localhost:8080/vendas">Vendas</a></li>
        </ul>
    </nav>
</main>
</body>
</html>