<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog - Users</title>
</head>
<body>
<header>
    <h1>Todos os Livros</h1>
</header>
<main>
    <table>
        <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Autor</th>
            <th>Categoria</th>
            <th>Quantidade</th>
            <th>ISBN</th>
        </tr>
        <tr th:each="livro : ${livros}">
            <td><span th:text="${livro.id}"></span></td>
            <td><span th:text="${livro.nome}"></span></td>
            <td><span th:text="${livro.autor}"></span></td>
            <td><span th:text="${livro.categoria}"></span></td>
            <td><span th:text="${livro.quantidade}"></span></td>
            <td><span th:text="${livro.isbn}"></span></td>
        </tr>
    </table>
</main>
</body>
</html>