<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <title>Biblioteca</title>
    <link rel="stylesheet" href="" th:href="@{style2.css}">
</head>
<body>
<header>
    <a id="home1" href="http://localhost:8080/"><img src="" th:src="@{6490332.png}"></a>
    <h1>Todas Vendas</h1>
</header>
<main>
    <table>
        <tr>
            <th>#</th>
            <th>Data Compra</th>
            <th>Quantidade</th>
            <th>Livro</th>
            <th>Id Funcionario</th>
        </tr>
        </button>
        <tr th:each="venda : ${vendas}">
            <td><span th:text="${venda.id}"></span></td>
            <td><span th:text="${venda.dataVenda}"></span></td>
            <td><span th:text="${venda.quantidade}"></span></td>
            <td><span th:text="${venda.livro.getNome()}"></span></td>
            <td><span th:text="${venda.pessoa.getIdPessoa()}"></span></td>
        </tr>
    </table>
</main>
</body>
</html>